.nav-cont {}

.nav-routes {
  max-width: 1250px;
  width: 100%;
  margin: 15px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.routes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links-active {
  color: #EBB044;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

ul.nav-list {
  margin-bottom: 0 !important;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.logo-text {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  margin: 0;
  color: #CE00E6;
}

.nav-list li {
  color: #f8f7f3;
  margin-left: 32px;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.nav-list li:hover {
  color: rgb(220, 0, 192);
}

.nav-list-active {
  color: #E7009C !important;

  font-weight: 500 !important;
}

.break {
  width: 1px;
  height: 22px;
  background-color: #adb5bd;
  margin: 0 16px;
}

.profile-section {
  display: flex;
  align-items: center;
}

.signin {
  color: #000;
  margin-left: 16px;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 14.4992px;
  line-height: 22px;
}

.logo {
  /* background: linear-gradient(to right, #CE00E6, #E7009C );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 800;
  font-size: 24px;
  color: #CBCCD1;
}

.gradient-popup-text {
  /* background: linear-gradient(to right, #CE00E6, #E7009C );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 22px;
}

.cnt-wallet {
  background: linear-gradient(90deg, #CE00E6 0%, #E7009C 79.97%);
  border-radius: 6px;
  border: none;
  text-align: center;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  cursor: pointer;
  width: fit-content;
  color: #CBCCD1;
}

.cnt-wallet-gray {
  background: gray;
  border-radius: 6px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  cursor: not-allowed;
  width: fit-content;
  color: #fff;
  opacity: 0.68;
}

.logo-img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.chain-strip {
  background: #615531;
  padding: 10px 0;
}

.change-chain-text {
  color: #fff;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;

}

.chainUnderline {
  color: #fff;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.disconnect-btn {
  background: #FF5353;
  border-radius: 6px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  cursor: pointer;
  width: 250px;
  color: #fff;
  margin-top: 25px;
}

.nav-dropdown {
  border-radius: 4px;
  background-color: #28282c;
  z-index: 2;
  padding: 10px 5px;
  position: absolute;
  color: #fff;
  font-size: 13px;
  text-align: left;
  top: 75px;
  width: 147px;
  margin-left: 15px;
}

.dd-text {
  padding: 5px 10px;
  cursor: pointer;
}

.dd-text:hover {
  background-color: #1B1823;

  border-radius: 4px;
}

@media (min-width:960px) and (max-width:1250px) {
  .nav-routes {
    width: 90%;
  }
}

@media screen and (max-width:960px) {
  .nav-routes {
    width: 90%;
    transition: all 0.5s ease;
  }

  ul.nav-list {
    display: none;
  }

  .cnt-wallet {
    font-size: 12px;
    padding: 8px 15px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 84%;
    /* border-top: 1px solid #fff; */
    position: absolute;
    top: 105px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: #252339;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 30px;
  }

  .nav-menu li {
    font-size: 13px;
    color: #f8f7f3;
    padding: 8px 0;
    text-align: left;
    cursor: pointer;
  }

  .nav-menu li:hover {
    color: #CE00E6;
  }
}