.top-strip {
  background: rgba( 206, 0, 230, 0.1 )!important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 )!important;
  backdrop-filter: blur( 0.5px )!important;
  -webkit-backdrop-filter: blur( 0.5px )!important;
  border: 1px solid rgba( 255, 255, 255, 0.18 )!important;
  /* position: sticky; */
  top: 0;
  z-index: 1;
}

.strip-data {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.godl-price {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
margin-right: 15px;
  color: #f8f7f3;
}


@media screen and (max-width:1250px) {
  .strip-data{
    width: 90%;
  }
 
}